<h1>Bienvenido a Gomez & Asociados</h1>
<div style="display: flex; flex-direction: column; align-items: center;">
    <h2>Inicia sesion o registrate para obtener mas contenido</h2>
    <img src="https://gomezyasociados.uy/web/image/693/Gif-puerta-abierta.gif" style="width: 80vh;">
</div>